<!--
  Generated template for the AddRowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Add Row
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveRow()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <ion-item-group *ngFor="let item of items" [ngSwitch]="item.type">
      <ion-item *ngSwitchCase="'string'">
        <!-- String -->
        <ion-label>{{item.title}}</ion-label>
        <ion-input text-right type="text" [(ngModel)]="item.value"></ion-input>
      </ion-item>
      <ion-item *ngSwitchCase="'textarea'">
        <!-- Textarea -->
        <ion-label>{{item.title}}</ion-label>
        <ion-textarea [(ngModel)]="item.value" autosize></ion-textarea>
      </ion-item>
      <ion-item *ngSwitchCase="'number'">
        <!-- Number -->
        <ion-label>{{item.title}}</ion-label>
        <ion-input text-right type="number" [(ngModel)]="item.value"></ion-input>
        <ion-note item-end *ngIf="item.unit != undefined && item.unit != ''">{{item.unit}}</ion-note>
      </ion-item>
      <ion-item *ngSwitchCase="'email'">
        <!-- Email -->
        <ion-label>{{item.title}}</ion-label>
        <ion-input text-right type="email" [(ngModel)]="item.value"></ion-input>
      </ion-item>
      <ion-item *ngSwitchCase="'url'">
        <!-- Url -->
        <ion-label>{{item.title}}</ion-label>
        <ion-input text-right type="url" [(ngModel)]="item.value"></ion-input>
      </ion-item>
      <ion-item *ngSwitchCase="'select'">
        <!-- Select -->
        <ion-label>{{item.title}}</ion-label>
        <ion-select [(ngModel)]="item.value" interface="popover">
          <ion-option *ngFor="let selectItem of item.selectItems">{{selectItem.value}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngSwitchCase="'date'">
        <!-- Date -->
        <ion-label>{{item.title}}</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="item.value"></ion-datetime>
      </ion-item>
      <ion-item *ngSwitchCase="'time'">
        <!-- Time -->
        <ion-label>{{item.title}}</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.value"></ion-datetime>
      </ion-item>
      <ion-item *ngSwitchCase="'password'">
        <!-- Password -->
        <ion-label>{{item.title}}</ion-label>
        <ion-input text-right type="password" [(ngModel)]="item.value"></ion-input>
      </ion-item>
      <ion-item *ngSwitchCase="'toggle'">
        <!-- Toggle -->
        <ion-label>{{item.title}}</ion-label>
        <ion-toggle checked="false" [(ngModel)]="item.value"></ion-toggle>
      </ion-item>
      <ion-item *ngSwitchCase="'range'">
        <!-- Range -->
        <ion-label>{{item.title}}</ion-label>
        <ion-range [(ngModel)]="item.value">
          <ion-icon range-left small name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item *ngSwitchDefault>
        <!-- Default -->
        <ion-label>{{item.title}}</ion-label>
        <ion-input text-right type="text" [(ngModel)]="item.value"></ion-input>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>