<!--
  Generated template for the AddRowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Add Row
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="saveRow()">
        <ion-icon name="save"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item *ngFor="let item of items" [ngSwitch]="item.type">
      <ion-label>{{item.title}}</ion-label>
      <!-- String -->
      <ion-input *ngSwitchCase="'string'" type="text" [(ngModel)]="item.value"></ion-input>
      <!-- Number -->
      <ion-input *ngSwitchCase="'number'" type="number" [(ngModel)]="item.value"></ion-input>
      <!-- Email -->
      <ion-input *ngSwitchCase="'email'" type="email" [(ngModel)]="item.value"></ion-input>
      <!-- Url -->
      <ion-input *ngSwitchCase="'url'" type="url" [(ngModel)]="item.value"></ion-input>
      <!-- Select -->
      <ion-select *ngSwitchCase="'select'" [(ngModel)]="item.value" interface="popover">
        <ion-option *ngFor="let selectItem of item.selectItems" value="selectItem.value">{{selectItem.value}}</ion-option>
      </ion-select>
      <!-- Date -->
      <ion-datetime *ngSwitchCase="'date'" displayFormat="YYYY MMM DD" [(ngModel)]="item.value"></ion-datetime>
      <!-- Time -->
      <ion-datetime *ngSwitchCase="'time'" displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.value"></ion-datetime>
      <!-- Password -->
      <ion-input *ngSwitchCase="'password'" type="password" [(ngModel)]="item.value"></ion-input>
      <!-- Toggle -->
      <ion-toggle *ngSwitchCase="'toggle'" checked="false" [(ngModel)]="item.value"></ion-toggle>
      <!-- Range -->
      <ion-range *ngSwitchCase="'range'" [(ngModel)]="item.value">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
      <!-- Default -->
      <ion-input *ngSwitchDefault type="text" [(ngModel)]="item.value"></ion-input>
    </ion-item>
  </ion-list>

  <button full ion-button color="secondary" (click)="saveRow()">Save</button>

</ion-content>